*

!*/

!**/.gitignore

!/README.md
!assets/**/*

!.config/btop/themes/*.theme
!.config/btop/btop.conf
!.config/fish/config.fish
!.config/hypr/hyprlock.conf
!.config/kitty/kitty.conf
!.config/micro/colorschemes/*
!.config/micro/settings.json
!.config/niri/**/*.kdl
!.config/noctalia/templates/*
!.config/noctalia/settings.json
!.config/noctalia/user-templates.toml
!.config/qimgv/qimgv.conf
!.config/vesktop/settings/quickCss.css
!.config/vesktop/themes/*.css
!.config/vlc/*
!.config/yazi/**/*
!.config/starship.toml
