*
!*/
!**/.gitignore

!/README.md
!assets/**/*
!docs/**/*

!src/.config/fish/config.fish

!src/.config/kitty/**/*

!src/.config/niri/**/*.kdl

!src/.config/noctalia/templates/niri.kdl
!src/.config/noctalia/*

!src/.config/yazi/**/*

!src/.config/starship.toml

!src/Pictures/**/*
