*

!*/

!**/.gitignore

!/README.md
!assets/**/*
!docs/**/*

!home/.config/fish/config.fish
!home/.config/kitty/**/*
!home/.config/niri/**/*.kdl
!home/.config/noctalia/templates/niri.kdl
!home/.config/noctalia/*
!home/.config/starship.toml
!home/Pictures/**/*
