binds {
    Mod+Shift+R         hotkey-overlay-title="Screen Record"        { spawn-sh "qs -c noctalia-shell ipc call plugin:screen-recorder toggle"; }

    Mod+Escape          hotkey-overlay-title="System Monitor"       { spawn-sh "kitty --class btop -e btop"; }
    Mod+E               hotkey-overlay-title="File Manager"         { spawn "nautilus"; }
    Mod+G               hotkey-overlay-title="Zen Browser"          { spawn "zen-browser"; }
    Mod+Alt+G           hotkey-overlay-title="Google Chrome"        { spawn "google-chrome-stable"; }
    Mod+C               hotkey-overlay-title="Code"                 { spawn "code"; }
    Mod+D               hotkey-overlay-title="Discord"              { spawn "vesktop"; }
    Mod+Y               hotkey-overlay-title="Yazi"                 { spawn-sh "kitty --class yazi -e yazi ~/Downloads"; }
    Mod+Alt+Y           hotkey-overlay-title="Yazi as root"         { spawn-sh "kitty --class yazi -e sudo -E yazi ~/Downloads"; }

    Mod+Shift+C         hotkey-overlay-title="Color Picker"         { spawn-sh "hyprpicker | wl-copy"; }

    XF86Calculator      hotkey-overlay-title=null       { spawn "gnome-calculator"; }
}

window-rule {
    match app-id="yazi"
    default-column-width { proportion 0.8; }
}

window-rule {
    match app-id="Nautilus"
    default-column-width { proportion 0.4; }
}

window-rule {
    match app-id="zen"
    open-maximized true
}

window-rule {
    match app-id="google-chrome"
    open-maximized true
}

window-rule {
    match app-id="code"
    open-maximized true
}

window-rule {
    match app-id="zed"
    open-maximized true
}

window-rule {
    match app-id="vesktop"
    open-maximized true
}

window-rule {
    match app-id="btop"
    open-maximized true
}

window-rule {
    match app-id="yazi-wrapper"
    open-floating true
    min-width 1080
    max-width 1080
    min-height 680
    max-height 680
}

window-rule {
    match app-id="qimgv"
    open-floating true
}

window-rule {
    match app-id="obsidian"
    open-maximized true
}

window-rule {
    match app-id="Calculator"
    default-column-width { proportion 0.333; }
}

window-rule {
    match app-id="gradia"
    open-maximized true
}
