screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H-%M-%S.png"

prefer-no-csd

output "eDP-1" {
    mode "1920x1080@60"
    scale 2.5
}

input {
    touchpad {
        tap
        natural-scroll
    }

    keyboard {
        numlock
    }
}

hotkey-overlay {
    skip-at-startup
}

recent-windows {
    off
}

overview {
    zoom 0.6
    backdrop-color "#000000"
}

cursor {
    hide-when-typing
    hide-after-inactive-ms 500
    xcursor-theme "GoogleDot-Blue"
    xcursor-size 24
}

environment {
    DISPLAY ":1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"

    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"

    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"

    GTK_IM_MODULE "none"
}

debug {
    honor-xdg-activation-with-invalid-serial
}

layout {
    background-color "#000000"

    empty-workspace-above-first

    center-focused-column "never"
    default-column-display "tabbed"
    default-column-width { proportion 0.5; }

    preset-column-widths {
        proportion 0.333
        proportion 0.5
        proportion 0.666
    }

    gaps 18

    struts {
        left 72
        right 72
        top 60
        bottom 60
    }

    focus-ring {
        off
    }

    border {
        on
        width 4
        active-color "#cba6f7"
        inactive-color "#585b70"
    }

    shadow {
        off
    }

    insert-hint {
        off
    }

    tab-indicator {
        hide-when-single-tab
        corner-radius 4
        width 6
        position "top"
        length total-proportion=0.95
        gap 12
        gaps-between-tabs 10
    }
}

animations {
    slowdown 3.0

    overview-open-close {
        spring damping-ratio=1.0 stiffness=500 epsilon=0.00001
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=300 epsilon=0.00001
    }

    workspace-switch {
        spring damping-ratio=1.0 stiffness=300 epsilon=0.00001
    }

    window-open {
        spring damping-ratio=1.0 stiffness=500 epsilon=0.00001
    }

    window-close {
        spring damping-ratio=1.0 stiffness=300 epsilon=0.00001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=400 epsilon=0.00001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=400 epsilon=0.00001
    }

    config-notification-open-close {
        spring damping-ratio=1.0 stiffness=600 epsilon=0.0001
    }

    exit-confirmation-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}

window-rule {
    geometry-corner-radius 11
    clip-to-geometry true
}

window-rule {
    match app-id="kitty"
    default-column-width { proportion 0.8; }
}
