include "./base.kdl"
include "./wallpaper.kdl"

spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &"
spawn-sh-at-startup "qs -c noctalia-shell"

binds {
    // #"General"
    Mod+Shift+Slash     hotkey-overlay-title="Niri Keymap"          { spawn-sh "qs -c noctalia-shell ipc call plugin:keybind-cheatsheet toggle"; }
    Mod+Tab             hotkey-overlay-title="Overview"             { toggle-overview; }
    Mod+Q               hotkey-overlay-title="Close window"         { close-window; }
    Mod+Delete          hotkey-overlay-title="Quit Niri"            { quit; }


    // #"Noctalia"
    Mod+I               hotkey-overlay-title="Settings"             { spawn-sh "qs -c noctalia-shell ipc call settings toggle"; }
    Mod+Space           hotkey-overlay-title="Launcher"             { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    Mod+Grave           hotkey-overlay-title="Control Center"       { spawn-sh "qs -c noctalia-shell ipc call controlCenter toggle"; }
    Mod+N               hotkey-overlay-title="Notification"         { spawn-sh "qs -c noctalia-shell ipc call notifications toggleHistory"; }
    Mod+V               hotkey-overlay-title="Clipboard"            { spawn-sh "qs -c noctalia-shell ipc call launcher clipboard"; }
    Mod+Slash           hotkey-overlay-title="Emoji"                { spawn-sh "qs -c noctalia-shell ipc call launcher emoji"; }
    Mod+Shift+N         hotkey-overlay-title="Network"              { spawn-sh "qs -c noctalia-shell ipc call network togglePanel"; }
    Mod+P               hotkey-overlay-title="Lock screen"          { spawn-sh "qs -c noctalia-shell ipc call lockScreen lock"; }
    Mod+Shift+S         hotkey-overlay-title="Session Menu"         { spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle"; }
    Mod+0               hotkey-overlay-title="Random Wallpaper"     { spawn-sh "qs -c noctalia-shell ipc call wallpaper random eDP-1"; }
    Mod+Shift+R         hotkey-overlay-title="Screen Record"        { spawn-sh "qs -c noctalia-shell ipc call plugin:screen-recorder toggle"; }


    // #"Apps"
    Mod+Return          hotkey-overlay-title="Terminal"             { spawn "kitty"; }
    Mod+E               hotkey-overlay-title="File Manager"         { spawn "nautilus"; }
    Mod+B               hotkey-overlay-title="Zen Browser"          { spawn "zen-browser"; }
    Mod+Y               hotkey-overlay-title="Yazi"                 { spawn-sh "kitty --class yazi -e yazi"; }


    // #"Focus"
    Mod+H               hotkey-overlay-title="Focus column ←"               { focus-column-left-or-last; }
    Mod+L               hotkey-overlay-title="Focus column →"               { focus-column-right-or-first; }
    Mod+K               hotkey-overlay-title="Focus workspace ↑"            { focus-workspace-up; }
    Mod+J               hotkey-overlay-title="Focus workspace ↓"            { focus-workspace-down; }
    Mod+Left            hotkey-overlay-title=null                           { focus-column-left-or-last; }
    Mod+Right           hotkey-overlay-title=null                           { focus-column-right-or-first; }
    Mod+Up              hotkey-overlay-title=null                           { focus-workspace-up; }
    Mod+Down            hotkey-overlay-title=null                           { focus-workspace-down; }
    Alt+Tab             hotkey-overlay-title="Cycle tab"                    { focus-window-down-or-top; }


    // #"Layout"
    Mod+U                       hotkey-overlay-title="Cycle focus layout"   { switch-focus-between-floating-and-tiling; }
    Mod+T                       hotkey-overlay-title="Toggle floating"      { toggle-window-floating; }
    Mod+BracketLeft             hotkey-overlay-title="Join ←"               { consume-or-expel-window-left; }
    Mod+BracketRight            hotkey-overlay-title="Join →"               { consume-or-expel-window-right; }
    Mod+Comma                   hotkey-overlay-title="Consume █ ←"          { consume-window-into-column; }
    Mod+Period                  hotkey-overlay-title="Expel █ →"            { expel-window-from-column; }


    // #"Resize"
    F11                         hotkey-overlay-title="Fullscreen"           { fullscreen-window; }
    Mod+F                       hotkey-overlay-title="Full width"           { maximize-column; }
    Mod+R                       hotkey-overlay-title="Cycle width"          { switch-preset-column-width; }
    Mod+Minus                   hotkey-overlay-title="Width -"              { set-column-width "-5%"; }
    Mod+Equal                   hotkey-overlay-title="Width +"              { set-column-width "+5%"; }
    Mod+Shift+Minus             hotkey-overlay-title="Height -"             { set-window-height "-5%"; }
    Mod+Shift+Equal             hotkey-overlay-title="Height +"             { set-window-height "+5%"; }


    // #"Move"
    Mod+Shift+H                 hotkey-overlay-title="Move column ←"        { move-column-left; }
    Mod+Shift+L                 hotkey-overlay-title="Move column →"        { move-column-right; }
    Mod+Shift+K                 hotkey-overlay-title="Move column ↑"        { move-column-to-workspace-up; }
    Mod+Shift+J                 hotkey-overlay-title="Move column ↓"        { move-column-to-workspace-down; }
    Mod+Shift+Left              hotkey-overlay-title=null                   { move-column-left; }
    Mod+Shift+Right             hotkey-overlay-title=null                   { move-column-right; }
    Mod+Shift+Up                hotkey-overlay-title=null                   { move-column-to-workspace-up; }
    Mod+Shift+Down              hotkey-overlay-title=null                   { move-column-to-workspace-down; }
    Mod+Alt+K                   hotkey-overlay-title="Move workspace ↑"     { move-workspace-up; }
    Mod+Alt+J                   hotkey-overlay-title="Move workspace ↓"     { move-workspace-down; }


    // #"Mouse"
    Mod+WheelScrollUp           hotkey-overlay-title="Focus workspace ↑"    cooldown-ms=250 { focus-workspace-up; }
    Mod+WheelScrollDown         hotkey-overlay-title="Focus workspace ↓"    cooldown-ms=250 { focus-workspace-down; }
    Mod+Shift+WheelScrollUp     hotkey-overlay-title="Focus column ←"       cooldown-ms=75  { focus-column-left; }
    Mod+Shift+WheelScrollDown   hotkey-overlay-title="Focus column →"       cooldown-ms=75  { focus-column-right; }
    Mod+Ctrl+WheelScrollUp      hotkey-overlay-title="Move window ↑"        cooldown-ms=250 { move-column-to-workspace-up; }
    Mod+Ctrl+WheelScrollDown    hotkey-overlay-title="Move window ↓"        cooldown-ms=250 { move-column-to-workspace-down; }


    // #"Screenshot"
    Mod+S                       hotkey-overlay-title="Manual creenshot"     { screenshot show-pointer=false; }
    Mod+A                       hotkey-overlay-title="Screen screenshot"    { screenshot-screen show-pointer=false; }
    Mod+W                       hotkey-overlay-title="Window screenshot"    { screenshot-window; }


    // #"XF86"
    XF86AudioRaiseVolume        hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call volume increase"; }
    XF86AudioLowerVolume        hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call volume decrease"; }
    XF86AudioMute               hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call volume muteOutput"; }
    XF86AudioMicMute            hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call volume muteInput"; }
    XF86AudioPlay               hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }
    XF86AudioPause              hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }
    XF86AudioPrev               hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call media previous"; }
    XF86AudioNext               hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call media next"; }
    XF86MonBrightnessUp         hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call brightness increase"; }
    XF86MonBrightnessDown       hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call brightness decrease"; }
}

window-rule {
    match app-id="kitty"
    default-column-width { proportion 0.8; }
}

window-rule {
    match app-id="Nautilus"
    default-column-width { proportion 0.4; }
}

window-rule {
    match app-id="zen"
    open-maximized true
}

window-rule {
    match app-id="yazi"
    default-column-width { proportion 0.8; }
}

include "./noctalia.kdl"

