window-rule {
    geometry-corner-radius 11
    clip-to-geometry true
}

window-rule {
    match app-id="zen"
    open-maximized true
}

window-rule {
    match app-id="chromium"
    open-maximized true
}

window-rule {
    match app-id="yazi"
    default-column-width { proportion 0.8; }
}

window-rule {
    match app-id="yazi-wrapper"
    open-floating true
    min-width 1000
    max-width 1000
    min-height 700
    max-height 700
}

window-rule {
    match app-id="code"
    open-maximized true
}

window-rule {
    match app-id="dev.zed.Zed"
    open-maximized true
}

window-rule {
    match app-id="vesktop"
    open-maximized true
}

window-rule {
    match app-id="nvim"
    open-maximized true
}

window-rule {
    match app-id="btop"
    open-maximized true
}

window-rule {
    match app-id="vlc"
    open-floating true
    max-width 1280
    max-height 720
}

window-rule {
    match app-id="obsidian"
    open-maximized true
}

window-rule {
    match app-id="org.gnome.Calculator"
    open-floating true
}

window-rule {
    match app-id="be.alexandervanhee.gradia"
    open-maximized true
}
